@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");

.month-cal-container {
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.month-cal-container .fc .fc-toolbar-title {
    font-size: 1.7em;
}

.panels {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: center;
}

.panels .fc {
    min-height: 565px;
    font-size: 12px;
}

.panels colgroup {
    width: 10px;
}

.panels .fc .fc-toolbar-title {
    font-size: 1em;
}

.panels .fc .fc-header-toolbar {
    margin: 0;
}

.fc {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    display: flex;
}

.fc .fc-button-primary {
    border-radius: 0; 
    background-color: #333; 
    border-color: #333; 
    color: white; 
    margin-top: 0.1em;
    padding: 0.3em;
}

.fc .fc-button-primary:not(:disabled):hover {
    background-color: #444; 
    border-color: #444;
}

.fc a {
    text-decoration: none; 
}
