@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");

.page-body {
    padding: 2%;
    box-sizing:border-box;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8em;
    justify-content: center;
    align-items: flex-start;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    color: black;
}

.dates-select-container {
    width: 100%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.submit-button {
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0;
    margin-top: 17px;
    align-self: flex-start;
}

.time-select-container {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}