@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700&display=swap");

.page-body {
    padding: 2%;
    box-sizing:border-box;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    min-height: 650px;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    color: black;
}

.submit-button {
    background-color: #333;
    border-bottom: 0px;
    border-radius: 0;
    margin-top: 17px;
    align-self: flex-start;
}


.control-panel-button {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    color: #333333;
    cursor: pointer;
    transition: border 0.15s;
    font-size: 17px;
    background-color: #ffffff;
}

.buttons-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
  
.control-panel-button:hover {
    border: 1px solid #a9a9a9;
}

.control-panel {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.control-panel p {
    color: grey;
    font-size: 15px;
    margin-left: 2px;
}

.name-form {
    margin: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.name-input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.name-field-button {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.continue {
    background-color: #4CAF50;
    color: white;
}

.cancel {
    background-color: #f44336;
    color: white;
}

.button:hover {
    opacity: 0.8;
}

.time-selector-group {
    display: flex;
    flex-direction: column;
}
.time-selector-top-header {
    margin-left: 80px;
    margin-bottom: 20px;
}

.availability-table {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(236, 236, 236);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.table-body {
    min-height: 200px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    flex-direction: row;
}

.column-entry {
    width: 50%;
    box-sizing: border-box;
    padding: 7px 15px;
}

.body-column {
    width: 50%;
    box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 14px;
    word-wrap: break-word;
}
.left-column {
    border-right: 2px dashed #c2c2c2;
}
.table-header {
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
    text-align: left;
    color: #ffffff;
    background-color: #ab2e2e;
    box-sizing: border-box;
}