.time-selector {
    width: 610px;
    height: 400px;
    /* border-width: 5px;
    border-color: aquamarine;
    border-style: solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.date-column {
    background-color: whitesmoke;
    width: 85px;
}

.date-column-header {
    background-color: white;
    border-width: 1px 1px 0px 0;
    border-style: solid;
    border-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0 10px 0;
    /* user-select: none; */
}

.date-column-header h2 {
    margin: 0;
    padding: 0;
}
.date-column-header p {
    margin: 0;
    padding: 0;
}

.selectable-time-slot {
    height: 8px;
    background-color: lightgrey;
    transition: background-color 0.2s ease;
}
.selectable-time-slot:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}