.time-selector {
    max-width: 610px;
    min-height: 400px;
    overflow-x: scroll;   
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.date-column {
    background-color: whitesmoke;
    min-width: 80px;
    border-left: 1px solid #cfcfcf;
}

.date-column-header {
    height: 85px;
    background-color: white;
    border-top: 1px solid #cfcfcf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0 10px 0; */
    box-sizing: border-box;
    /* user-select: none; */
}

.date-column-header h2 {
    margin: 0;
    padding: 0;
}
.date-column-header p {
    margin: 0;
    padding: 0;
}

.selectable-time-slot {
    height: 8px;
    background-color: lightgrey;
}
.time-slot-adding {
    transition: background-color 0.2s ease;
}
.time-slot-adding:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
    cursor: pointer;
}

.times-labels-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.header {
    height: 77px;
    box-sizing: border-box;
}
.time-label {
    font-size: 12px;
    height: 33px;
    white-space: nowrap;
    text-align: right;
    width: 70px;
}