.time-selector {
    max-width: 610px;
    min-height: 400px;
    overflow-x: scroll;   
    /* white-space: nowrap; */
    /* border-width: 5px;
    border-color: aquamarine;
    border-style: solid; */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    flex-wrap: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.date-column {
    background-color: whitesmoke;
    min-width: 80px;
}

.date-column-header {
    height: 85px;
    background-color: white;
    border-width: 1px 1px 0px 0;
    border-style: solid;
    border-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10px 0 10px 0; */
    box-sizing: border-box;
    /* user-select: none; */
}

.date-column-header h2 {
    margin: 0;
    padding: 0;
}
.date-column-header p {
    margin: 0;
    padding: 0;
}

.selectable-time-slot {
    height: 8px;
    background-color: lightgrey;
    transition: background-color 0.2s ease;
}
.selectable-time-slot:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
}

.times-labels-container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}
.header {
    height: 77px;
    box-sizing: border-box;
}
.time-label {
    font-size: 12px;
    height: 33px;
    white-space: nowrap;
    text-align: right;
}

.slider-area {
    margin: 5px 0px 20px 50px;
}

.time-range-selector-slider {
    width: 300px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin-top: 20px; 
    margin-bottom: 50px; 
}
.slider-track {
    background: grey; 
    height: 10px;
}
.slider-thumb {
    background: #1f3174; 
    height: 20px; 
    width: 20px;
    border-radius: 0; 

    /* Center align vertically */
    transform: translateY(-25%);
    outline:none;
}

.slider-track-1 {
    background: #1f3174;
}

.slider-instruction {
    display: flex;
    justify-content: space-between;
}